<div class="container">
  <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <div class="col-md-3 mb-2 mb-md-0">
      <%= image_tag 'logo.png', style: "height:50px;width:150px;" %>
    </div>

    <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
      <li><%= link_to "Головна", root_path, class: "nav-link px-2 link-secondary" %></li>
      <li><a href="#" class="nav-link px-2">Ціни</a></li>
      <li><a href="#" class="nav-link px-2">Запитання</a></li>
      <li><a href="#" class="nav-link px-2">Про клініку</a></li>
    </ul>

    <div class="col-md-3 text-end">
      <% if user_signed_in? || doctor_signed_in? %>
        <%= button_to "Редагувати", user_signed_in? ?
                        edit_user_registration_path :
                        edit_doctor_registration_path, method: :get, class: "btn btn-outline-primary" %>
        <%= button_to "Вихід", user_signed_in? ?
                        destroy_user_session_path :
                        destroy_doctor_session_path, method: :delete, data: { turbo: false }, class: "btn btn-outline-primary" %>
      <% else %>
        <%= link_to new_user_session_path do %>
          <button type="button" class="btn btn-outline-primary me-2">Я-Пацієнт</button>
        <% end %>
        <%= link_to new_doctor_session_path do %>
          <button type="button" class="btn btn-outline-success me-2">Я-Лікар</button>
        <% end %>
      <% end %>
    </div>
  </header>
</div>